@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
    line-height: 32px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 16px;
    font-size: 18px;
}

.links {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.links:hover {
    background-color: #3a6cff;
    padding: 8px;
    border-radius: 4px;
}

.links:active {
    background-color: white;
    color: #3a6cff;
}

.logo {
    font-size: 24px;
    letter-spacing: 10px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 32px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.hero-info {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.text {
    font-size: 18px;
    padding-bottom: 8px;
}

.hero-image {
    flex: 1 1 300px;
    /* flex: 1 1 168px; */
}

.hero-image img {
    height: 80%;
    width: 80%;
}

.button {
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 8px 32px;
    border-radius: 8px;
    border: 2px solid white;
}

.button:hover {
    background-color: #3a6cff;
}

.button:active {
    background-color: white;
    color: #3a6cff;
}

/*  */
/*  */
/*  */
.info-title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 40px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 40px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.info-border {
    width: 128px;
    height: 128px;
    border: 8px solid black;
    border-radius: 16px;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-border img {
    width: 128px;
    height: 128px;
}

.information .text {
    text-align: center;
    padding: 16px;
}

.info-border img:hover {
    width: 165px;
    height: 165px;
    animation: rotation 15s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.information .text {
    font-weight: 300;
}
